.contact-form,
.film-form,
.cartilage-form {
  input, textarea {
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid $light-grey;
    padding: 0.5em;
  }

  textarea {
    min-height: 150px;
  }

  label {
    text-transform: uppercase;
    text-align: left;
    float: left;
  }

  .send-button,
  .submit-button {
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: $wht;
    font-style: italic;
    padding: 0.25em;
    border: none !important;
  }
}
