.film-block {
  position: relative;

  img {
    width: 100%;
  }

  .film-title-block {
    height: 6em;
  }

  .film-poster-block {
    height: 0;
    padding-bottom: 148%;
  }

  a:hover {
    text-decoration: none;
    color: $grey;
  }

  a {
    .film-title-block {
      text-decoration: none;
      color: $grey;
    }
  }
}

.admin-featured-tag {
  background-color: rgba(100, 100, 100, 0.8);
  color: $wht;
  font-size: 1.5em;
  text-transform: uppercase;
  font-style: italic;
  position: absolute;
  width: 100%;
}
