html {
  font-size: 100%;
  text-align: center;
  color: $blk;
}

body {
  background-color: $grey;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: $blk;
  font-size: 12px;

  @media (min-width: $screen-md-min) {
    font-size: 14px;
  }
}

.main {
  padding: 1em 1em;

  @media (min-width: $screen-md-min) {
    padding: 2em 2em;
  }

  @media (min-width: $screen-lg-min) {
    padding: 2em 3em;
  }
}

a {
  color: $grey;
  font-style: italic;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

nav {
  background: $wht;
  color: $grey;

  li.active {
    a {
      color: $wht;
      background: $grey !important;
    }
  }

  a {
    color: $grey;
    text-transform: uppercase;
    font-size: 1.75em;
    padding: 10px;

    @media (max-width: $screen-xs-max) {
      margin: 0.5em 0;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 1em;
    }

    &:hover {
      color: $wht;
      background: $grey !important;
    }

    &:focus {
      color: $grey;
      background: $wht !important;
      padding: 15px 14px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding: 11px 10px;
      }
    }
  }

  .navbar-toggle {
    background-color: $grey;

    .icon-bar {
      background-color: $wht;
    }
  }

  .navbar-nav > li > a {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 1em;
      padding: 11px;
    }
  }
}

input, textarea {
  display: block;
}

.text-link {
  color: $grey;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $grey;
    text-decoration: underline;
  }

  a {
    color: $grey;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $grey;
      text-decoration: underline;
    }
  }
}

.hidden-link {
  color: $blk;
  text-decoration: none;
  font-style: normal !important;

  &:hover,
  &:focus,
  &:active {
    color: $grey;
    text-decoration: underline;
  }

  a {
    color: $blk;
    text-decoration: none;
    font-style: normal !important;

    &:hover,
    &:focus,
    &:active {
      color: $grey;
      text-decoration: underline;
    }
  }
}

.col-xs-12 {
  @media (min-width: $screen-sm-min) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.max-width-1000 {
  width: 100%;
  max-width: 1000px;
}

.italic {
  font-style: italic;
}

.header {
  font-style: italic;
}

.navbar-c {
  height: 45px;
  padding-top: 7px;

  @media (max-width: $screen-sm-max) {
    height: 35px;
  }
}

.no-hover-style:hover {
  background: none !important;
}

.inline-block {
  display: inline-block !important;
}

.display-block {
  display: block !important;
}

.checkbox-inline {
  display: inline-block !important;
  width: 20px !important;
  float: left;
}

.full-width {
  width: 100% !important;
  max-width: 100% !important;
}

.row {
  margin: 0 !important;
}

.tip {
  font-style: italic;
  font-size: 0.9em;
  text-align: left;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  margin-bottom: 1em;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.synopsis {
  margin-bottom: 1em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.sentence-case {
  text-transform: none;
}
