// Colors
$grey: #333333;
$light-grey: #888888;
$wht: #FFFFFF;
$blk: #000000;
$red: #D32525;

// Button Colors
$yes-light-green: #92D062;
$yes-green: #66AA33;
$maybe-light-yellow: #EEEE66;
$maybe-yellow: #E8E830;
$no-light-red: #DA5858;
$no-red: #992222;
